/* Ensure Tailwind CSS is installed and configured correctly */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background: linear-gradient(to bottom right, #fbcfe8, #d8b4fe, #a5f3fc);
  min-height: 100vh;
}  
  .glass {
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(10px); /* Support for Safari */
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
  }
    